.contacts {

  .form {
    margin-bottom: 78px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 870px;
    margin: 0 auto;

    @include sm {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 30px 0;

    @include sm {
      gap: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #111111;
  }
}