<form class="form">
    <label class="form__group">
      <input class="form__field js-form-name" id="form-name" type="text" placeholder="Your Name*" name="first_name">
    </label>
    <label class="form__group">
      <input class="form__field js-form-sname" type="text" placeholder="Last Name*" name="last_name">
    </label>
    <label class="form__group">
      <input class="form__field js-form-phone" type="tel" name="phone">
    </label>
    <label class="form__group">
      <input class="form__field js-form-email" type="email" placeholder="Email*" name="email">
    </label>
    <textarea name="message" class="form__textarea" placeholder="Outline Your Case"></textarea>
    <div class="form__button">
      <button class="button">
        Get a free consultation
      </button>
    </div>

    <div class="form_popup"></div>
  </form>