<meta charset="UTF-8">
<!-- Useful meta tags -->
<meta lang="ru-RU">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<!--styles-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
<link rel="stylesheet" href="./assets/css/style.min.css">

<title>{{ title }}</title>

<script>
const meta = document.head.querySelector('meta[name="viewport"]');
meta.setAttribute('content', `width=${zoomer()}, user-scalable=no`);

function zoomer() {
  const width = window.innerWidth;

  if (width >= 768 && width < 1439) return 768;

  if (width >= 1440) {
    return 1440;
  }

  return 375;
}
</script>