<div class="headTop">
  <picture class="headTop__image">
    <source media="(min-width: 1440px)"
    srcset="/assets/images/hLg.png">
    <source media="(min-width: 550px) and (max-width: 1439px)"
    srcset="/assets/images/hMd.png">
    <img
    src="/assets/images/hSm.png">
  </picture>

  <div class="container">
    <div class="headTop__content">
      <h1 class="h1">
        Get your money back from a scam
      </h1>
      
      <div>
        If you’ve been ripped off by scammers, get in touch and our team of experts will work to get your money back
      </div>
      <a href="/contact-us.html" class="button">
        Get a free consultation
      </a>
    </div>

    <div class="headTop__stats">
      <div class="headTop__statsItem">
        <b>$1.5M+</b>
        Money retrieved in 2022
      </div>
      <div class="headTop__statsItem">
        <b>35</b>
        Professional lawyers
      </div>
      <div class="headTop__statsItem">
        <b>93%</b>
        Successfully completed cases
      </div>
    </div>
  </div>
</div>