<section class="section whyWorkWithUs">
  <div class="container">
    <div class="dHead">
      <h2 class="h2">Why work with us?</h2>
      
    </div>

    <div class="whyWorkWithUs__list">
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <path d="M28 32C33.1547 32 37.3334 27.8214 37.3334 22.6667C37.3334 17.512 33.1547 13.3334 28 13.3334C22.8454 13.3334 18.6667 17.512 18.6667 22.6667C18.6667 27.8214 22.8454 32 28 32Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M22.9466 30.52L21.3333 42.6667L28 38.6667L34.6666 42.6667L33.0533 30.5067" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <path d="M38.1433 27.8099C39.5976 26.3557 40.4145 24.3834 40.4145 22.3268C40.4145 20.2702 39.5976 18.2979 38.1433 16.8437C36.6891 15.3895 34.7168 14.5725 32.6602 14.5725C30.6036 14.5725 28.6313 15.3895 27.1771 16.8437L18.4583 25.5624V36.5416H29.4375L38.1433 27.8099Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M32.6667 22.3334L14.5833 40.4167" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M34.6042 31.375H23.625" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <g clip-path="url(#clip0_8_523)">
            <path d="M34.6666 40V37.3333C34.6666 35.9188 34.1047 34.5623 33.1045 33.5621C32.1044 32.5619 30.7478 32 29.3333 32H18.6666C17.2522 32 15.8956 32.5619 14.8954 33.5621C13.8952 34.5623 13.3333 35.9188 13.3333 37.3333V40" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M24 26.6667C26.9455 26.6667 29.3334 24.2789 29.3334 21.3333C29.3334 18.3878 26.9455 16 24 16C21.0545 16 18.6667 18.3878 18.6667 21.3333C18.6667 24.2789 21.0545 26.6667 24 26.6667Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M42.6667 40V37.3333C42.6658 36.1516 42.2725 35.0037 41.5485 34.0698C40.8245 33.1358 39.8109 32.4688 38.6667 32.1733" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M33.3333 16.1733C34.4805 16.4671 35.4974 17.1343 36.2235 18.0698C36.9496 19.0052 37.3438 20.1558 37.3438 21.34C37.3438 22.5242 36.9496 23.6748 36.2235 24.6103C35.4974 25.5457 34.4805 26.2129 33.3333 26.5067" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_8_523">
            <rect width="32" height="32" fill="white" transform="translate(12 12)"/>
            </clipPath>
            </defs>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <path d="M28 32C33.1547 32 37.3334 27.8214 37.3334 22.6667C37.3334 17.512 33.1547 13.3334 28 13.3334C22.8454 13.3334 18.6667 17.512 18.6667 22.6667C18.6667 27.8214 22.8454 32 28 32Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M22.9466 30.52L21.3333 42.6667L28 38.6667L34.6666 42.6667L33.0533 30.5067" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <g clip-path="url(#clip0_8_493)">
            <path d="M38.5 13.75H16.5C14.9812 13.75 13.75 14.9812 13.75 16.5V22C13.75 23.5188 14.9812 24.75 16.5 24.75H38.5C40.0188 24.75 41.25 23.5188 41.25 22V16.5C41.25 14.9812 40.0188 13.75 38.5 13.75Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M38.5 30.25H16.5C14.9812 30.25 13.75 31.4812 13.75 33V38.5C13.75 40.0188 14.9812 41.25 16.5 41.25H38.5C40.0188 41.25 41.25 40.0188 41.25 38.5V33C41.25 31.4812 40.0188 30.25 38.5 30.25Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.25 19.25H19.2625" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.25 35.75H19.2625" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_8_493">
            <rect width="32" height="32" fill="white" transform="translate(12 12)"/>
            </clipPath>
            </defs>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
      <div class="whyWorkWithUs__item">
        <div class="whyWorkWithUs__head">
          <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="28" fill="white"/>
            <g clip-path="url(#clip0_8_513)">
            <path d="M17.1667 18.1666H37.8333C39.2542 18.1666 40.4167 19.3291 40.4167 20.75V36.25C40.4167 37.6708 39.2542 38.8333 37.8333 38.8333H17.1667C15.7458 38.8333 14.5833 37.6708 14.5833 36.25V20.75C14.5833 19.3291 15.7458 18.1666 17.1667 18.1666Z" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M40.4167 20.75L27.5 29.7917L14.5833 20.75" stroke="#F43930" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_8_513">
            <rect width="31" height="31" fill="white" transform="translate(12 13)"/>
            </clipPath>
            </defs>
          </svg>
          Dolor purus non enim 
        </div>

        Dolor purus non enim praesent elementum facilisis leo vel fringilla. Laoreet non curabitur gravida arcu ac tortor dignissim convallis
      </div>
    </div>
  </div>
</section>